table, th, td{
    border: 1px solid black;
}

table {
    border-spacing: 3px;
}

th, td {
    width: 100px;
}

.tr-Titulo {
    background-color: cyan;
}

.th-Numero, .th-Total, .th-Precio{
    background-color: khaki;
}
