table {
    border-collapse: collapse;
    font-size: 40px;
}

th, td {
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

button{
    background: transparent;
    border: none !important;
    font-size: 20px;
}

.resultado{
    background-color: gray;
    color: white;
    height: 40px;
}

.naranja{
    background-color: orange;
}

.naranja button{
    color: white;
}