.header{
    background-color: red;
    border-radius: 15px;
    width: 60%;
    height: 80px;
}

.header p{
    color: white;
    text-indent: 20px;
    line-height: 500%;
}

.nav{
    background-color: yellow;
    border-radius: 15px;
    width: 60%;
    height: 80px;
}

.nav p{
    color: pink;
    text-indent: 20px;
    line-height: 500%;
}

.main{
    display: inline-block;
    background-color: rgb(0, 126, 105);
    border-radius: 15px;
    width: 40%;
    height: 200px;
}

.main .article{
    display: inline-block;
    background-color: gray;
    border-radius: 15px;
    width: 40%;
    height: 80px;
}

.main .article p{
    color: white;
    text-indent: 20px;
}

.aside{
    display: inline-block;
    background-color: rgb(0, 100, 194);
    border-radius: 15px;
    width: 20%;
    height: 200px;
}

.aside p{
    color: white;
    text-align: center;
}

.footer{
    background-color: rgb(180, 180, 180);
    border-radius: 15px;
    width: 60%;
    height: 80px;
}

.footer p{
    color: white;
    text-indent: 20px;
    line-height: 500%;
}