.primeraParte{
    width: 38%;
    background-color: #5D92F0;
    color: white;
    display: inline-block;
}

h2{
    text-transform: uppercase;
}

/*.segundaParte{
    display: inline-block;
}*/

form{
    padding: 20px;
}

.datos{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 300px;
    display: inline-block;
}